<section class="reviews">
  <h2 class="reviews__title">Reviews</h2>
  <ul class="reviews__list">
    <li class="review">
      <img
        class="review__client"
        src="../src/images/reviews/review-client-001.jpg"
        srcset="
          ../src/images/reviews/review-client-001.jpg    1x,
          ../src/images/reviews/review-client-001-2x.jpg 2x
        "
        alt="review 001"
      />
      <h3 class="review__client-name">John</h3>

      <p class="review__client-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium quia similique quis
        ipsum voluptas. Quos illum ad ducimus, veritatis enim eveniet id dignissimos fugit mollitia
        amet voluptatibus distinctio debitis eos.
      </p>
    </li>
    <li class="review">
      <img
        class="review__client"
        src="../src/images/reviews/review-client-002.jpg"
        srcset="
          ../src/images/reviews/review-client-002.jpg    1x,
          ../src/images/reviews/review-client-002-2x.jpg 2x
        "
        alt="review 002"
      />
      <h3 class="review__client-name">Will</h3>
      <p class="review__client-text">
        Last time I have visited a cooking course by Eva I was impressed with the way she explained
        everything to people. You can be sure you will manage to cook a delicious dish even if it is
        your first time in the kitchen! Thank you so much for the masterclass! Looking forward to
        the next one and highly recommend it to everyone!
      </p>
    </li>
    <li class="review">
      <img
        class="review__client"
        src="../src/images/reviews/review-client-003.jpg"
        srcset="
          ../src/images/reviews/review-client-003.jpg    1x,
          ../src/images/reviews/review-client-003-2x.jpg 2x
        "
        alt="review 003"
      />
      <h3 class="review__client-name">Elisabeth</h3>
      <p class="review__client-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium quia similique quis
        ipsum voluptas. Quos illum ad ducimus, veritatis enim eveniet id dignissimos fugit mollitia
        amet voluptatibus distinctio debitis eos.
      </p>
    </li>
  </ul>
</section>
